.content {
  display: flex;
  flex-direction: column;
}

.content__title {
  display: flex;
}

#content__category {
  margin: 30px 30px;
}

.content__box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.content__box__img {
  cursor: pointer;
}
