/* 메인배너 */
.banner {
  margin: auto;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.banner__Phrase {
  font-family: "Nanum Gothic", sans-serif;
  margin-left: 100px;
}

.banner__quotes__left {
  width: 180px;
  position: absolute;
  left: 70px;
  top: 50px;
}

.banner__quotes__right {
  width: 180px;
  position: absolute;
  left: 700px;
  top: 250px;
}

.banner__Phrase__main {
  font-size: var(--font-large);
  margin-bottom: 20px;
}

.banner__Phrase__side {
  font-size: var(--font-medium);
}

.banner__image {
  width: 700px;
  height: 450px;
  border-radius: 15px;
}

#expert_btn {
  width: 110px;
  height: 50px;
  padding-top: 20px;
  padding-left: 5px;
  position: absolute;
  top: 0%;
  left: 42%;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: var(--font-small);
  transition: color var(--animation-duration) ease-in-out;
}

#expert_btn:hover {
  color: var(--color-light-grey);
  border-bottom: 2px solid var(--color-orange);
}

#youtube_btn {
  width: 80px;
  height: 50px;
  padding-top: 20px;
  padding-left: 8px;
  position: absolute;
  top: 0%;
  left: 49%;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: var(--font-small);
  transition: color var(--animation-duration) ease-in-out;
}

#youtube_btn:hover {
  color: var(--color-light-grey);
  border-bottom: 2px solid var(--color-orange);
}

#entertain_btn {
  width: 80px;
  height: 50px;
  padding-top: 20px;
  padding-left: 5px;
  position: absolute;
  top: 0%;
  left: 54.5%;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: var(--font-small);
  transition: color var(--animation-duration) ease-in-out;
}

#entertain_btn:hover {
  color: var(--color-light-grey);
  border-bottom: 2px solid var(--color-orange);
}

/* 전문가 프로필 */
.expert {
  margin-top: 50px;
}

.content__title {
  margin-bottom: 30px;
}

.expert__profile {
  display: flex;
}

.expert__profile__dtl {
  width: 330px;
}

.expert__profile__dtl__img {
  margin: auto;
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all var(--animation-duration) ease-in-out;
}

.expert__profile__dtl__img:hover {
  transform: scale(1.1);
}

.expert__profile__dtl__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expert__profile__dtl__info h3 {
  margin: 16px 0;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}

.ant-btn.ant-btn-default {
  margin: auto;
  cursor: pointer;
  z-index: 3;
}

.ant-btn.ant-btn-default:hover {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

/* 유튜브 컨텐츠 */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.content__title {
  display: flex;
  align-items: center;
}

.content__title h1 {
  height: 57px;
}

.ant-select.ant-select-single.ant-select-show-arrow {
  margin: 0 30px;
}

.content__box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 80px;
}

.content__box__dtl {
  margin-bottom: 30px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.content__box__dtl__div {
  display: flex;
  margin: 0 16px;
}

.content__box__dtl__div__img {
  cursor: pointer;
  width: 300px;
  height: 200px;
  padding: 0 16px;
}

#error__message {
  margin: 200px 0;
}

#content__category {
  margin-left: 30px;
  border: 1px solid black;
  height: 35px;
  padding: 0 7px;
  font-family: "Nanum Gothic", sans-serif;
  cursor: pointer;
}

/* Entertain 영역 */
.entertain__card {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.entertain__card__test {
  margin-right: 80px;
  transition: all var(--animation-duration) ease-in-out;
}

.entertain__card__test:hover {
  transform: scale(1.05);
}

.entertain__card__trip {
  margin-left: 80px;
  transition: all var(--animation-duration) ease-in-out;
}

.entertain__card__trip:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .expert {
    margin-left: 0px;
    text-align: center;
    width: 400px;
  }

  .content__title {
    margin-left: 25px;
  }

  .content {
    margin-left: 0px;
    text-align: center;
    width: 400px;
  }

  .content__box {
    width: 330px;
  }

  .content__box__dtl__div {
    display: flex;
    flex-direction: column;
  }

  .content__box__dtl__div__img {
    margin: 10px;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner__Phrase {
    margin-top: 50px;
  }

  .banner__image {
    width: 500px;
  }

  .banner__quotes__left,
  .banner__quotes__right {
    width: 50px;
  }

  .banner__quotes__right {
    top: 110px;
    left: 550px;
  }

  #expert_btn {
    left: 200px;
  }

  #youtube_btn {
    left: 340px;
  }
  #entertain_btn {
    left: 450px;
  }

  .entertain__card {
    flex-direction: column;
  }

  .entertain__card__trip {
    margin-left: 0;
  }

  .entertain__card {
    width: 400px;
  }

  .entertain__card__test img,
  .entertain__card__trip img {
    width: 400px;
  }
}

/* 모바일 세로 */
@media (min-width: 320px) and (max-width: 480px) {
  .expert {
    margin-left: 10px;
    text-align: center;
  }

  .content__title {
    margin-left: 25px;
  }

  .content {
    margin-left: 10px;
    text-align: center;
  }

  .content__box {
    width: 300px;
  }

  .content__box__dtl__div {
    display: flex;
    flex-direction: column;
  }

  .content__box__dtl__div__img {
    margin: 10px;
  }

  .entertain__card {
    flex-direction: column;
  }

  .entertain__card__trip {
    margin-left: 0;
  }

  .entertain__card {
    width: 380px;
  }

  .entertain__card__test img,
  .entertain__card__trip img {
    width: 280px;
  }

  .banner__Phrase {
    margin-left: 10px;
  }

  .banner__Phrase__main {
    font-size: 35px;
  }

  .banner__quotes__left,
  .banner__quotes__right {
    display: none;
  }

  .banner__image {
    width: 400px;
  }

  #expert_btn {
    left: 30px;
  }

  #youtube_btn {
    left: 170px;
  }
  #entertain_btn {
    left: 280px;
  }

  #expert_btn,
  #youtube_btn,
  #entertain_btn {
    font-size: 10px;
  }
}
