/* 전문가 프로필 */
.expert {
  margin-top: 50px;
}

.content__title {
  margin-bottom: 30px;
}

.expert__profile {
  display: flex;
}

.expert__profile__dtl__img {
  margin: auto;
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all var(--animation-duration) ease-in-out;
}

.expert__profile__dtl__img:hover {
  transform: scale(1.1);
}

.expert__profile__dtl__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expert__profile__dtl__info h3 {
  margin: 16px 0;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}

.ant-btn.ant-btn-default {
  margin: auto;
  cursor: pointer;
  z-index: 3;
}

.ant-btn.ant-btn-default:hover {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

/* 유튜브 컨텐츠 */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.content__title {
  display: flex;
  align-items: center;
}

.content__title h1 {
  height: 57px;
}

.ant-select.ant-select-single.ant-select-show-arrow {
  margin: 0 30px;
}

.content__box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 80px;
}

.content__box__dtl {
  margin-bottom: 30px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.content__box__dtl__div {
  display: flex;
  margin: 0 16px;
}

.content__box__dtl__div__img {
  cursor: pointer;
  width: 300px;
  height: 200px;
  padding: 0 16px;
}

#error__message {
  margin: 200px 0;
}

#content__category {
  margin-left: 30px;
  border: 1px solid black;
  height: 35px;
  padding: 0 7px;
  font-family: "Nanum Gothic", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .expert {
    margin-left: 150px;
    text-align: center;
  }

  .content__title {
    margin-left: 25px;
  }

  .content {
    margin-left: 110px;
    text-align: center;
  }

  .content__box {
    width: 330px;
  }

  .content__box__dtl__div {
    display: flex;
    flex-direction: column;
  }

  .content__box__dtl__div__img {
    margin: 10px;
  }
}

/* 모바일 세로 */
@media (min-width: 320px) and (max-width: 480px) {
  .expert {
    margin-left: 35px;
    text-align: center;
  }

  .content__title {
    margin-left: 15px;
  }

  .content {
    margin-left: 10px;
    text-align: center;
  }

  .content__box {
    width: 300px;
  }

  .content__box__dtl__div {
    display: flex;
    flex-direction: column;
  }

  .content__box__dtl__div__img {
    margin: 10px;
  }
}
