@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbitron&family=PT+Sans:wght@400;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");

/* Global*/
:root {
  /* Color */
  --color-yellow: #ffe082;
  --color-lemon: #fffde7;
  --color-orange: #ff8a65;
  --color-light-orange: #ffbb93;
  --color-light-white: #eeeeee;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  line-height: normal;
}

.body__contents {
  width: 1200px;
  margin-left: 250px;
}

h1 {
  border-bottom: 2px solid var(--color-orange);
  padding: 10px;
}

#body {
  height: auto;
  min-height: 100%;
  font-family: "Quicksand", sans-serif;
}

#card {
  width: 350px;
  position: fixed;
  top: 60%;
  left: 80%;
  right: 10%;
  bottom: 15%;
}

.card__dtl {
  width: 100%;
  height: 350px;
  margin: 10px 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: var(--weight-semi-bold);
  background-image: url("../public/images/rabbit_speech_bubble.png");
  background-size: 100% 100%;
  padding: 150px 30px 10px 50px;
}

.card__dtl__title {
  font-size: var(--font-medium);
  margin-left: 90px;
}

.card__dtl__discription {
  font-size: var(--font-regular);
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 16px;
}

#footer {
  height: 300px;
  background-color: var(--color-light-orange);
}

/* top버튼 */
#top_btn {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1%;
  bottom: 2%;
  color: var(--color-dark-grey);
  cursor: pointer;
}
