/* logo */
.header__bar {
  display: flex;
  background-color: transparent;
}

.header__bar__logo {
  width: 100px;
  margin: 0 50px;
  cursor: pointer;
}

/* navbar */
.header__bar__nav {
  display: flex;
  list-style: none;
  position: absolute;
  left: 39%;
}

/* user 버튼 */
#header__bar__user {
  margin: 20px 20px;
  color: var(--color-grey);
  cursor: pointer;
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__bar__logo {
    margin-left: 0;
    width: 60px;
  }
}
