.header__bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-yellow);
}

.header__bar__logo {
  width: 120px;
  margin: 0 25px;
  cursor: pointer;
}

#header__bar__user {
  margin: 20px 20px;
  color: var(--color-grey);
  cursor: pointer;
  display: none;
}
